<div class="card w-50">
  <div class="card-body">
    <h1>Editing Food</h1></br>

    <%= render 'form', food: @food %>
    </br>
    <%= link_to 'Show', restaurant_food_path(@food), class:"btn btn-secondary" %>
  </div>
</div>

