// Place all the styles related to the RestaurantReviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.field {
  /*   margin: 10px; */
    padding: 10px;
}